/*===================================Fontes Gerais===================================/
Body - 16px
H1 - 32px
H2 - 
H3 - 
SPAN - 14px
P - 16px
A - 16px

*/

/*===================================Breakpoints Gerais===================================/

@media (min-width:320px) { smartphones, portrait iPhone, portrait 480x320 phones (Android) }
@media (min-width:480px) { smartphones, Android phones, landscape iPhone }
@media (min-width:600px) { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) }
@media (min-width:801px) { tablet, landscape iPad, lo-res laptops ands desktops }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops }

/*


/*===================================Fontes===================================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Roboto+Mono:wght@200&family=Source+Code+Pro&display=swap');

/*===================================Estilos Gerais===================================*/

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

html {
	scroll-behavior: smooth;
}

body, p, h1, h2, ul, li, blockquote {
	padding: 0px;
	margin: 0px;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
	background-size: 100%;
	color: white;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
	font-family: 'Inter', sans-serif;
}

* {box-sizing:border-box;}

li {
	list-style: none;	
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

img {
	display: block;
}

h1 {
	font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
	font-size: 1.250em;
}

span, p {
	font-size: 1em;
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.section_diagonal {
	width: 100%;
	height: 150px;
	z-index: 0;
	background-color: white;
	transform: skewY(-2deg);
	margin-top: -70px;
}

/*===================================Estilos Home===================================*/

main {
	width: 100%;
	height: auto;
}

.section_home {
	width: 100%;
	height: 120vh;
	background-color: #051D3B;
}

nav {
	width: 100%;
	padding: 40px 130px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.div_logo > img {
	width: 95px;
	height: 45px;
}

.div_search {
	width: 370px;
	height: 55px;
	border: 1px solid gray;
	border-radius: 5px;
	display: flex;
	align-content: center;
	padding-left: 20px;
}

.div_search > input {
	width: 100%;
	background: none;
	border: none;
}

.icon_search {
	width: auto;
	height: 100%;
	padding: 15px 10px 0 10px;
}

.icon_search > span {
	font-size: 25px;
	cursor: pointer;
}

.div_navbar {
	width: auto;
	height: 57px;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	column-gap: 20px;
}

.list_links {
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	column-gap: 20px;
	font-size: 0.7em;
	padding-top: 20px;
}

.item_links > a, .item_buttons > a {
	color: white;
}

.item_links:hover > a {
	color: gray;
}

.list_buttons {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 20px;
	font-size: 0.7em;
}

.item_buttons {
	padding-top: 20px;
}

.item_buttons:hover > a {
	color: gray;
}

.div_button_matricular > input {
	width: 200px;
	height: 55px;
	background-color: #A0F8BE;
	border-radius: 25px;
	border: none;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

.div_button_matricular > input:hover {
	margin-top: 2px; 
}

.content_home {
	width: 100%;
	height: auto;
	padding: 0 130px 50px 130px;
}

.text_home {
	width: 420px;
	margin-bottom: 50px;
}

.text_home > h1 {
	font-size: 3.5em;
	margin-bottom: 20px;
}

.text_home > p {
	color: lightgray;
	font-size: 1.1em;
}

.img_home {
	position: absolute;
	top: 20%;
	right: 300px;
}

.img_home > img {
	width: 300px;
	height: auto;
}

.school_options {
	position: absolute;
	z-index: 1;
}

.list_school_options {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
}

.list_school_options > li {
	width: 200px;
	height: 210px;
	padding: 20px;
	margin-bottom: 15px;
	background-color: #051D3B;
	border: 1px solid #0D4D9C;
	border-radius: 10px;
	font-size: 0.8em;
	cursor: pointer;
}

.list_school_options > li:hover {
	border: 1px solid #318BF6;
}

.option_hidden {
	opacity: 0;
}

.div_icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

.div_title_school :first-child {
	font-family: 'Roboto Mono', monospace;
}

.div_title_school {
	margin: 10px 0;
}

.title_school {
	font-weight: bold;
}

#green_text {color: green;}
#green_icon {background-color: #20534B;}

#blue_text {color: blue;}
#blue_icon {background-color: #27567A;}

#lightgreen_text {color: lightgreen;}
#lightgreen_icon {background-color: #37552E;}

#red_text {color: red;}
#red_icon {background-color: #4F3046;}

#purple_text {color: purple;}
#purple_icon {background-color: #483665;}

#yellow_text {color: yellow;}
#yellow_icon {background-color: #554D2F;}

#orange_text {color: orange;}
#orange_icon {background-color: #543D2D;}

/*===================================Estilos Sobre===================================*/

.section_sobre {
	width: 100%;
	height: 90vh;
	background-color: white;
	color: #093366;
	margin-top: 150px;
}

.content_sobre {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	column-gap: 100px;
	padding: 0 130px;
}

.div_video_sobre {
	width: 550px;
	height: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #EFF0F9;
}

.div_text_sobre {
	width: 500px;
	height: auto;
}

.div_text_sobre > h2 {
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: 30px;
}

.div_text_sobre > p {
	margin-bottom: 40px;
}

.div_text_sobre > input {
	width: 320px;
	height: 55px;
	background-color: #A0F8BE;
	border-radius: 25px;
	border: none;
	color: black;
	font-weight: bold;
	cursor: pointer;
}

/*===================================Estilos Benefits===================================*/

.section_benefits {
	width: 100%;
	height: auto;
	padding: 0 130px 100px 130px;
	color: #093366;
}

.list_benefits {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.item_benefits {
	width: 300px;
}

.item_benefits > span {
	font-size: 50px;
	margin-bottom: 20px;
}

.item_benefits > h2 {
	margin-bottom: 20px;
}

.item_benefits > p {
	font-size: 1.1em;
}

/*===================================Estilos Formações===================================*/

.section_formacao {
	width: 100%;
	height: auto;
	padding: 80px 130px 150px 130px;
	background-color: #051D3B;
}

.content_formacao {
	width: 100%;
	height: auto;
}

.text_formacao {
	width: 450px;
	height: auto;
	margin-bottom: 80px;
}

.text_formacao > span {
	font-family: 'Roboto Mono', monospace;
}

.text_formacao > h1 {
	margin: 20px 0;
	font-size: 2.5em;
}

.list_formacao_options {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	margin-top: 20px;
}

.list_formacao_options > li {
	width: 270px;
	height: 415px;
}

.div_title_formacao {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-bottom: 20px;
}

.title_formacao {
	margin-left: 10px;
}

.list_formacao_options > li > a {
	color: lightgray;
}

.desc_formacao > p {
	height: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	font-size: 0.9em;
}

.button_seeFormation {
	margin-top: 20px;
}

.button_seeFormation > a {
	color: lightgray;
	font-size: 0.9em;
	text-decoration: underline;
}

.button_seeFormation > a:hover {
	color: gray;
}

/*===================================Estilos Our Members===================================*/

.section_ourMembers {
	width: 100%;
	height: auto;
	background-color: white;
}

.content_ourMembers {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 30px 130px 80px 130px;
	color: #093366;
}

.text_ourMembers {
	width: 40%;
	height: auto;
}

.img_ourMembers {
	padding: 30px 0px 30px 50px;
}

.img_ourMembers > img {
	width: 400px;
	opacity: 0.6;
}

.opinion_ourMembers {
	width: 60%;
	height: auto;
}

.text_ourMembers > h1 {
	width: 300px;
	margin: 20px 0;
	font-size: 2.5em;
}

.text_ourMembers > p {
	width: 400px;
}

.opinion_ourMembers {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
}

.text_aspas {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
	color: lightblue;
	font-size: 8em;
	font-family: 'Source Code Pro', monospace;
}

.text_aspas > span {
	margin: 20px 70px 0 0;
}

.div_opinion_1 {
	width: 550px;
	height: 210px;
	padding: 30px 30px 30px 50px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 30px #EFF0F9;
	font-size: 0.9em;
}

.div_opinion_2 {
	width: auto;
	height: auto;
	padding: 30px 50px;
	box-shadow: 0px 0px 30px #EFF0F9;
	font-size: 0.9em;
}

.img_opinion {
	width: 65px;
	height: 65px;

	background-image: url("https://www.thispersondoesnotexist.com/image");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	border: 2px solid blue;
	position: absolute;
	border-radius: 50px;
	margin: -10px 0 0 -84px;
}

.div_text_opinion {
	width: 300px;
}

.text_bold {
	font-weight: bold;
}

.name_opinion {
	margin-top: 20px;
}

/*===================================Estilos Graduacao===================================*/

.section_graduacao {
	width: 100%;
	height: 100vh;
	background-color: #151617;
}

.content_graduacao {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 0 130px;
}

.div_text_graduacao {
	flex: 1;
	font-size: 1.1em;
}

.text_graduacao > h1 {
	width: 500px;
	color: lightgray;
	margin-bottom: 40px;
}

.text_graduacao > p {
	color: gray;
	margin-bottom: 40px;
}

.text_graduacao > p > strong {
	color: lightgray;
}

.div_buttons_graduacao {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	column-gap: 20px;
}

.button_graduacao {
	width: 260px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #E93A5D;
	border-radius: 50px;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

.button_graduacao:hover {
	size: 0.9;
	background-color: #E93A5D;
}

.button_graduacao > p {
	font-size: 0.7em;
	letter-spacing: 2px;
}

.div_img_graduacao {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}
